<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.org symreader" value="https://dotnet.myget.org/F/symreader/api/v3/index.json" />
    <add key="myget.org symreader-native" value="https://dotnet.myget.org/F/symreader-native/api/v3/index.json" />
  </packageSources>
</configuration>
    